.u-section-1 .u-sheet-1 {
  min-height: 79px;
}

.u-section-1 .u-text-1 {
  margin: 13px auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2005px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1907px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1798px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 222px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 144px;
  height: auto;
  margin: 21px auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 112px;
}

.u-section-3 .u-accordion-1 {
  width: 800px;
  margin: 30px auto;
}

.u-section-3 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-1 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 21404px;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  margin: 0 30px;
}

.u-section-3 .u-image-1 {
  width: 745px;
  height: 584px;
  object-position: 50% 37.8%;
  margin: 0 auto 0 28px;
}

@media (max-width: 991px) {
  .u-section-3 .u-accordion-1 {
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 564px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-accordion-1 {
    width: 540px;
  }

  .u-section-3 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 423px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-accordion-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 266px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 130px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  margin: 42px auto;
}