.u-section-1 .u-sheet-1 {
  min-height: 103px;
}

.u-section-1 .u-text-1 {
  margin: 51px auto 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1728px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 84px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 144px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 144px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 284px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 318px;
}

.u-section-3 .u-group-1 {
  width: 800px;
  min-height: 66px;
  height: auto;
  margin: 22px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  line-height: 2;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-accordion-1 {
  width: 800px;
  margin: 0 auto 22px;
}

.u-section-3 .u-accordion-item-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-accordion-link-1 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 438px;
  height: auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 743px;
  height: 408px;
  margin: 0 30px 0 28px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 0 30px;
}

.u-section-3 .u-accordion-item-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-accordion-link-2 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 438px;
  height: auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 743px;
  height: 408px;
  margin: 0 30px 0 28px;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: 0 30px;
}

.u-section-3 .u-accordion-item-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-accordion-link-3 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 438px;
  height: auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  width: 743px;
  height: 408px;
  margin: 0 30px 0 28px;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  margin: 0 30px;
}

.u-section-3 .u-accordion-item-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-accordion-link-4 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-4 {
  min-height: 438px;
  height: auto;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-image-4 {
  width: 743px;
  height: 408px;
  margin: 0 30px 0 28px;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  margin: 0 30px;
}

.u-section-3 .u-accordion-item-5 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-accordion-link-5 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-5 {
  min-height: 438px;
  height: auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-image-5 {
  width: 743px;
  height: 408px;
  margin: 0 30px 0 28px;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  margin: 0 30px;
}

.u-section-3 .u-accordion-item-6 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-accordion-link-6 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-6 {
  min-height: 438px;
  height: auto;
}

.u-section-3 .u-container-layout-7 {
  padding: 0;
}

.u-section-3 .u-image-6 {
  width: 743px;
  height: 408px;
  margin: 0 30px 0 28px;
}

.u-section-3 .u-text-7 {
  font-size: 1.125rem;
  margin: 0 30px;
}

.u-section-3 .u-accordion-item-7 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-accordion-link-7 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-7 {
  min-height: 438px;
  height: auto;
}

.u-section-3 .u-container-layout-8 {
  padding: 0;
}

.u-section-3 .u-image-7 {
  width: 743px;
  height: 408px;
  margin: 0 30px 0 28px;
}

.u-section-3 .u-text-8 {
  font-size: 1.125rem;
  margin: 0 30px;
}

.u-section-3 .u-accordion-item-8 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-accordion-link-8 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-8 {
  min-height: 438px;
  height: auto;
}

.u-section-3 .u-container-layout-9 {
  padding: 0;
}

.u-section-3 .u-image-8 {
  width: 743px;
  height: 408px;
  margin: 0 30px 0 28px;
}

.u-section-3 .u-text-9 {
  font-size: 1.125rem;
  margin: 0 30px;
}

.u-section-3 .u-accordion-item-9 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-accordion-link-9 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-9 {
  min-height: 438px;
  height: auto;
}

.u-section-3 .u-container-layout-10 {
  padding: 0;
}

.u-section-3 .u-image-9 {
  width: 743px;
  height: 408px;
  margin: 0 30px 0 28px;
}

.u-section-3 .u-text-10 {
  font-size: 1.125rem;
  margin: 0 30px;
}

.u-section-3 .u-accordion-item-10 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-accordion-link-10 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-10 {
  min-height: 438px;
  height: auto;
}

.u-section-3 .u-container-layout-11 {
  padding: 0;
}

.u-section-3 .u-image-10 {
  width: 743px;
  height: 408px;
  margin: 0 30px 0 28px;
}

.u-section-3 .u-text-11 {
  font-size: 1.125rem;
  margin: 0 30px;
}

.u-section-3 .u-accordion-item-11 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-accordion-link-11 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-11 {
  min-height: 438px;
  height: auto;
}

.u-section-3 .u-container-layout-12 {
  padding: 0;
}

.u-section-3 .u-image-11 {
  width: 743px;
  height: 408px;
  margin: 0 30px 0 28px;
}

.u-section-3 .u-text-12 {
  font-size: 1.125rem;
  margin: 0 30px;
}

.u-section-3 .u-accordion-item-12 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-accordion-link-12 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-12 {
  min-height: 438px;
  height: auto;
}

.u-section-3 .u-container-layout-13 {
  padding: 0;
}

.u-section-3 .u-image-12 {
  width: 743px;
  height: 408px;
  margin: 0 30px 0 28px;
}

.u-section-3 .u-text-13 {
  font-size: 1.125rem;
  margin: 0 30px;
}

.u-section-3 .u-accordion-item-13 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-accordion-link-13 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-13 {
  min-height: 438px;
  height: auto;
}

.u-section-3 .u-container-layout-14 {
  padding: 0;
}

.u-section-3 .u-image-13 {
  width: 743px;
  height: 408px;
  margin: 0 30px 0 28px;
}

.u-section-3 .u-text-14 {
  font-size: 1.125rem;
  margin: 0 30px;
}

.u-section-3 .u-accordion-item-14 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-accordion-link-14 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-14 {
  min-height: 438px;
  height: auto;
}

.u-section-3 .u-container-layout-15 {
  padding: 0;
}

.u-section-3 .u-image-14 {
  width: 743px;
  height: 408px;
  margin: 0 30px 0 28px;
}

.u-section-3 .u-text-15 {
  font-size: 1.125rem;
  margin: 0 30px;
}

.u-section-3 .u-accordion-item-15 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-accordion-link-15 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-15 {
  min-height: 438px;
  height: auto;
}

.u-section-3 .u-container-layout-16 {
  padding: 0;
}

.u-section-3 .u-image-15 {
  width: 743px;
  height: 408px;
  margin: 0 30px 0 28px;
}

.u-section-3 .u-text-16 {
  font-size: 1.125rem;
  margin: 0 30px;
}

.u-section-3 .u-accordion-item-16 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-accordion-link-16 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-16 {
  min-height: 438px;
  height: auto;
}

.u-section-3 .u-container-layout-17 {
  padding: 0;
}

.u-section-3 .u-image-16 {
  width: 743px;
  height: 408px;
  margin: 0 30px 0 28px;
}

.u-section-3 .u-text-17 {
  font-size: 1.125rem;
  margin: 0 30px;
}

.u-section-3 .u-accordion-item-17 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-accordion-link-17 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-3 .u-accordion-pane-17 {
  min-height: 438px;
  height: auto;
}

.u-section-3 .u-container-layout-18 {
  padding: 0;
}

.u-section-3 .u-image-17 {
  width: 743px;
  height: 408px;
  margin: 0 30px 0 28px;
}

.u-section-3 .u-text-18 {
  font-size: 1.125rem;
  margin: 0 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 409px;
  }

  .u-section-3 .u-image-2 {
    height: 409px;
  }

  .u-section-3 .u-image-3 {
    height: 409px;
  }

  .u-section-3 .u-image-4 {
    height: 409px;
  }

  .u-section-3 .u-image-5 {
    height: 409px;
  }

  .u-section-3 .u-image-6 {
    height: 409px;
  }

  .u-section-3 .u-image-7 {
    height: 409px;
  }

  .u-section-3 .u-image-8 {
    height: 409px;
  }

  .u-section-3 .u-image-9 {
    height: 409px;
  }

  .u-section-3 .u-image-10 {
    height: 409px;
  }

  .u-section-3 .u-image-11 {
    height: 409px;
  }

  .u-section-3 .u-image-12 {
    height: 409px;
  }

  .u-section-3 .u-image-13 {
    height: 409px;
  }

  .u-section-3 .u-image-14 {
    height: 409px;
  }

  .u-section-3 .u-image-15 {
    height: 409px;
  }

  .u-section-3 .u-image-16 {
    height: 409px;
  }

  .u-section-3 .u-image-17 {
    height: 409px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-accordion-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 396px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 720px;
    height: 396px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    width: 720px;
    height: 396px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    width: 720px;
    height: 396px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-5 {
    width: 720px;
    height: 396px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-6 {
    width: 720px;
    height: 396px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-7 {
    width: 720px;
    height: 396px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-8 {
    width: 720px;
    height: 396px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-9 {
    width: 720px;
    height: 396px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-10 {
    width: 720px;
    height: 396px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-11 {
    width: 720px;
    height: 396px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-12 {
    width: 720px;
    height: 396px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-13 {
    width: 720px;
    height: 396px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-14 {
    width: 720px;
    height: 396px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-15 {
    width: 720px;
    height: 396px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-16 {
    width: 720px;
    height: 396px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-17 {
    width: 720px;
    height: 396px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-accordion-1 {
    width: 540px;
  }

  .u-section-3 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 297px;
  }

  .u-section-3 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 297px;
  }

  .u-section-3 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-3 {
    width: 540px;
    height: 297px;
  }

  .u-section-3 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-4 {
    width: 540px;
    height: 297px;
  }

  .u-section-3 .u-accordion-link-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-5 {
    width: 540px;
    height: 297px;
  }

  .u-section-3 .u-accordion-link-6 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-6 {
    width: 540px;
    height: 297px;
  }

  .u-section-3 .u-accordion-link-7 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-7 {
    width: 540px;
    height: 297px;
  }

  .u-section-3 .u-accordion-link-8 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-8 {
    width: 540px;
    height: 297px;
  }

  .u-section-3 .u-accordion-link-9 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-9 {
    width: 540px;
    height: 297px;
  }

  .u-section-3 .u-accordion-link-10 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-10 {
    width: 540px;
    height: 297px;
  }

  .u-section-3 .u-accordion-link-11 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-11 {
    width: 540px;
    height: 297px;
  }

  .u-section-3 .u-accordion-link-12 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-12 {
    width: 540px;
    height: 297px;
  }

  .u-section-3 .u-accordion-link-13 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-13 {
    width: 540px;
    height: 297px;
  }

  .u-section-3 .u-accordion-link-14 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-14 {
    width: 540px;
    height: 297px;
  }

  .u-section-3 .u-accordion-link-15 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-15 {
    width: 540px;
    height: 297px;
  }

  .u-section-3 .u-accordion-link-16 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-16 {
    width: 540px;
    height: 297px;
  }

  .u-section-3 .u-accordion-link-17 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-17 {
    width: 540px;
    height: 297px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-accordion-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 187px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 187px;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 187px;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 187px;
  }

  .u-section-3 .u-image-5 {
    width: 340px;
    height: 187px;
  }

  .u-section-3 .u-image-6 {
    width: 340px;
    height: 187px;
  }

  .u-section-3 .u-image-7 {
    width: 340px;
    height: 187px;
  }

  .u-section-3 .u-image-8 {
    width: 340px;
    height: 187px;
  }

  .u-section-3 .u-image-9 {
    width: 340px;
    height: 187px;
  }

  .u-section-3 .u-image-10 {
    width: 340px;
    height: 187px;
  }

  .u-section-3 .u-image-11 {
    width: 340px;
    height: 187px;
  }

  .u-section-3 .u-image-12 {
    width: 340px;
    height: 187px;
  }

  .u-section-3 .u-image-13 {
    width: 340px;
    height: 187px;
  }

  .u-section-3 .u-image-14 {
    width: 340px;
    height: 187px;
  }

  .u-section-3 .u-image-15 {
    width: 340px;
    height: 187px;
  }

  .u-section-3 .u-image-16 {
    width: 340px;
    height: 187px;
  }

  .u-section-3 .u-image-17 {
    width: 340px;
    height: 187px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 130px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  margin: 42px auto;
}