 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1187px;
}

.u-section-1 .u-image-1 {
  width: 1485px;
  height: 1187px;
  margin: 0 -172px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2177px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 751px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1810px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 575px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1712px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 431px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1603px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 271px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 195px;
}

.u-section-2 .u-audio-1 {
  width: 500px;
  height: 111px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 42px auto;
}

@media (max-width: 575px) {
  .u-section-2 .u-audio-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 884px;
}

.u-section-3 .u-text-1 {
  font-style: italic;
  margin: 39px auto 0;
}

.u-section-3 .u-group-1 {
  width: 800px;
  min-height: 762px;
  height: auto;
  margin: 54px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 1px 30px 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 11px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 130px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  margin: 42px auto;
}