.u-section-1 .u-sheet-1 {
  min-height: 923px;
}

.u-section-1 .u-image-1 {
  width: 128px;
  height: 128px;
  margin: 19px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  width: 132px;
  margin: 19px 504px 0;
  padding: 9px 15px 9px 14px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  width: 102px;
  margin: 19px 519px 0;
  padding: 9px 15px 9px 14px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  width: 164px;
  margin: 22px 488px 0;
  padding: 9px 15px 9px 14px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  width: 102px;
  margin: 19px 519px 0;
  padding: 9px 15px 9px 14px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  width: 102px;
  margin: 20px 519px 0;
  padding: 9px 15px 9px 14px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  width: 102px;
  margin: 20px 519px 0;
  padding: 9px 15px 9px 14px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  width: 102px;
  margin: 20px 519px 0;
  padding: 9px 15px 9px 14px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  width: 102px;
  margin: 20px 519px 0;
  padding: 9px 15px 9px 14px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  width: 131px;
  margin: 20px 505px 0;
  padding: 9px 15px 9px 14px;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  width: 131px;
  margin: 20px 505px 0;
  padding: 9px 15px 9px 14px;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  width: 131px;
  margin: 20px 505px 0;
  padding: 9px 15px 9px 14px;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  width: 131px;
  margin: 20px 505px 0;
  padding: 9px 15px 9px 14px;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  width: 131px;
  margin: 20px 505px 0;
  padding: 9px 15px 9px 14px;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  width: 131px;
  margin: 20px 505px 0;
  padding: 9px 15px 9px 14px;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  width: 131px;
  margin: 20px 505px;
  padding: 9px 15px 9px 14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 404px;
    margin-right: 404px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 419px;
    margin-right: 419px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 388px;
    margin-right: 388px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 419px;
    margin-right: 419px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 419px;
    margin-left: 419px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 419px;
    margin-left: 419px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 419px;
    margin-left: 419px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 419px;
    margin-right: 419px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 405px;
    margin-right: 405px;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 404px;
    margin-left: 405px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 404px;
    margin-left: 405px;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 404px;
    margin-left: 405px;
  }

  .u-section-1 .u-btn-13 {
    margin-right: 404px;
    margin-left: 405px;
  }

  .u-section-1 .u-btn-14 {
    margin-right: 404px;
    margin-left: 405px;
  }

  .u-section-1 .u-btn-15 {
    margin-right: 404px;
    margin-left: 405px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 294px;
    margin-right: 294px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 309px;
    margin-right: 309px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 278px;
    margin-right: 278px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 309px;
    margin-right: 309px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 309px;
    margin-left: 309px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 309px;
    margin-left: 309px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 309px;
    margin-left: 309px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 309px;
    margin-right: 309px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 295px;
    margin-right: 295px;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 294px;
    margin-left: 295px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 294px;
    margin-left: 295px;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 294px;
    margin-left: 295px;
  }

  .u-section-1 .u-btn-13 {
    margin-right: 294px;
    margin-left: 295px;
  }

  .u-section-1 .u-btn-14 {
    margin-right: 294px;
    margin-left: 295px;
  }

  .u-section-1 .u-btn-15 {
    margin-right: 294px;
    margin-left: 295px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: 204px;
    margin-right: 204px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 219px;
    margin-right: 219px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 188px;
    margin-right: 188px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 219px;
    margin-right: 219px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 219px;
    margin-left: 219px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 219px;
    margin-left: 219px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 219px;
    margin-left: 219px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 219px;
    margin-right: 219px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 205px;
    margin-right: 205px;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 204px;
    margin-left: 205px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 204px;
    margin-left: 205px;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 204px;
    margin-left: 205px;
  }

  .u-section-1 .u-btn-13 {
    margin-right: 204px;
    margin-left: 205px;
  }

  .u-section-1 .u-btn-14 {
    margin-right: 204px;
    margin-left: 205px;
  }

  .u-section-1 .u-btn-15 {
    margin-right: 204px;
    margin-left: 205px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-left: 104px;
    margin-right: 104px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 119px;
    margin-right: 119px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 88px;
    margin-right: 88px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 119px;
    margin-right: 119px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 119px;
    margin-left: 119px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 119px;
    margin-left: 119px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 119px;
    margin-left: 119px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 119px;
    margin-right: 119px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 105px;
    margin-right: 105px;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 104px;
    margin-left: 105px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 104px;
    margin-left: 105px;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 104px;
    margin-left: 105px;
  }

  .u-section-1 .u-btn-13 {
    margin-right: 104px;
    margin-left: 105px;
  }

  .u-section-1 .u-btn-14 {
    margin-right: 104px;
    margin-left: 105px;
  }

  .u-section-1 .u-btn-15 {
    margin-right: 104px;
    margin-left: 105px;
  }
}