.u-section-1 .u-sheet-1 {
  min-height: 214px;
}

.u-section-1 .u-text-1 {
  margin: 12px auto 0;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 138px;
  height: auto;
  margin: 12px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 424px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 424px;
  width: 800px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .u-section-2 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-custom-html-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 170px;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 168px;
  width: 379px;
  margin: 1px auto;
}

@media (max-width: 575px) {
  .u-section-3 .u-custom-html-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 130px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  margin: 42px auto;
}