.u-section-1 .u-sheet-1 {
  min-height: 2043px;
}

.u-section-1 .u-text-1 {
  margin: 13px auto 0;
}

.u-section-1 .u-image-1 {
  width: 788px;
  height: 430px;
  margin: 13px auto 0;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 1356px;
  height: auto;
  margin: 13px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0 30px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2005px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 392px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1907px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 294px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1798px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 185px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
}